* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html {
    font-size: 62.5%
}

:root {
    --main-color: #222831;
    --accent-color: #FD7014;
    --white: #FFFFFF;
    --dark-white: #D9D9D9;
    --black: #000000;
    --light-grey: #58585A;
    --dark-grey: #1E1E1E
}

body {
    background-color: var(--main-color);
    font-family: roboto,sans-serif
}
