.content .alternate-bg:nth-child(even) {
    background: var(--middle-grey);
}

.content .alternate-bg:nth-child(odd) {
    background: var(--main-color);
}

.intro {
    position: relative;
}

.intro-bg {
    height: 80vh;
    z-index: -1;
    background:
        linear-gradient(90deg, hsla(223, 90%, 56%, 0), hsla(0, 5%, 9%, 0.8) 55%),
        url("../images/kmitl-campus-drone-view.png") no-repeat center center / cover;
}

.intro-text {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    position: absolute;
    top: 30%;
    left: 60%;
    color: var(--white);
}

.intro-text-title {
    font-size: 3rem;
    font-weight: bold;
}

.custom-btn {
    width: 20rem;
    height: 5rem;
    color: #fff;
    border-radius: 5rem;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    background: var(--accent-color);
    line-height: 4.2rem;
    padding: 0;
    border: none;
}

.custom-btn span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 0.3rem;
    font-weight: bold;
    text-align: center;
    font-size: 1.6rem;
}

.custom-btn:before,
.custom-btn:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: var(--accent-color);
    transition: all 0.3s ease;
}

.custom-btn:before {
    height: 0%;
    width: 0.2rem;
}

.custom-btn:after {
    width: 0%;
    height: 0.2rem;
}

.custom-btn:hover {
    color: var(--accent-color);
    background: transparent;
}

.custom-btn:hover:before {
    height: 100%;
}

.custom-btn:hover:after {
    width: 100%;
}

.custom-btn span:before,
.custom-btn span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: var(--accent-color);
    transition: all 0.3s ease;
}

.custom-btn span:before {
    width: 0.2rem;
    height: 0%;
}

.custom-btn span:after {
    height: 0.2rem;
    width: 0%;
}

.custom-btn span:hover:before {
    height: 100%;
}

.custom-btn span:hover:after {
    width: 100%;
}

.about-wrap {
    display: flex;
    flex-direction: column;
    padding: 6rem;
    gap: 4rem;
}

.about-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.br {
    display: block;
    height: 0.2rem;
    background-color: var(--neutral-grey);
}

.br2 {
    display: block;
    height: 0.2rem;
    background-color: var(--middle-grey);
}

.info-header {
    color: var(--accent-color);
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 0.2rem 0.2rem 0.6rem var(--dark-grey);
}

.info-content {
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 3rem;
}

.news-wrap {
    display: flex;
    flex-direction: column;
    padding: 4rem 10rem;
    gap: 4rem;
}

.news-header-wrap {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.news-header {
    color: var(--accent-color);
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 0.2rem 0.2rem 0.6rem var(--dark-grey);
}

.news-boxes {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    justify-content: center;
}

.news-box {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 35rem;
    background-color: var(--main-color);
    border-radius: 1rem;
    padding: 0rem;
    /* box-shadow: 0 1px 11px 1px var(--accent-color); */
}

.news-img {
    width: 100%;
    height: 18rem;
    border-radius: 1rem;
    background-color: var(--white);
}

.news-content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-grow: 1;
}

.news-title {
    color: var(--white);
    font-size: 2rem;
    font-weight: bold;
}

.news-info {
    color: var(--white);
    font-size: 1.6rem;
    flex-grow: 1;
}

.event {
    height: 80vh;
    z-index: -1;
    background:
        linear-gradient(90deg, var(--middle-grey) 30%, hsla(0, 5%, 9%, 0)),
        url("../images/kmitl-campus-drone-view.png") no-repeat center center / cover;
}

.event-wrap {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    gap: 4rem;
    width: 30%;
    height: 100%;
    justify-content:space-between;
}

.event-header {
    color: var(--accent-color);
    font-size: 3rem;
    font-weight: bold;
}

.event-content {}

.event-title {
    color: var(--white);
    font-size: 2.6rem;
    font-weight: bold;
}
.event-date {
    color: var(--white);
    font-size: 2rem;
    font-weight: bold;
}

.event-info {
    color: var(--white);
    font-size: 1.6rem;
    flex-grow: 1;
}

@media screen and (max-width: 800px) {
    .intro-text {
        left: 10%;
    }
    .news-wrap{
        padding: 4rem 2rem;
    }
    .news-boxes {
        flex-direction: column;
    }
    .news-img{
        height: 30rem;
    }
    .news-box {
        width: 100%;
    }
    .event-wrap {
        justify-content: flex-start;
        width: 100%;
    }
    .event{
        background: linear-gradient(180deg, var(--middle-grey) 40%, hsla(0, 5%, 9%, 0)),
        url(../images/kmitl-campus-drone-view.png) no-repeat center center / cover;
    }

    .intro-bg{
        height: 60vh;
    }
}