<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/classes.css">
    <script src="/js/header.js" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>

<body>
    {% include 'nav.html'%}

    <div class="content">

        {% include 'sidebar.html'%}
        
        <div class="right-content">
            <div class="banner">
                {% if client_type == "Student" %}
                <img src="{{ client.enrolls[course_index].course.banner}}" alt="">
                {% elif client_type == "Lecturer" %}
                <img src="{{ client.courses[course_index].banner}}" alt="">
                {% else %}
                <img src="/images/default-banner.png" alt="">
                {% endif %}
            </div>
            <div class="assignment-ctn">
                <div class="information-ctn">
                    <div class="assignment-information-title">
                        <div class="assignment-title">
                            {{ assignment.name }}
                        </div>
                        <div class="duedate">
                            Due: {{ assignment.due_date }}
                        </div>
                    </div>
                    <div class="assignment-description">
                        {{ assignment.description }}
                    </div>
                    <div class="horizontal-line"></div>
                    <div class="others">
                        <div class="others-title">
                            OTHER DOCUMENTS INCLUDED
                        </div>
                        
                        <div class="documents">
                            {% for file in assignment.attachment %}
                            <div class="document">
                                <p class="name">{{ file.split('/') | last }}</p>
                                <div class="options">
                                    <a href="{{ file }}" class="option" target="_blank">
                                        <i class="fa-solid fa-eye"></i>
                                        <p>PREVIEW</p>
                                    </a>
                                    <a href="{{ file }}" class="option" download="">
                                        <i class="fa-solid fa-download"></i>
                                        <p>DOWNLOAD</p>
                                    </a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="submission-ctn">
                    <div class="status">
                        <p>STATUS</p>
                        {% if assignment.checkSubmitted(client.ID) == "Not Summited" %}
                        <div class="status-type not-submitted">
                            NOT SUBMITTED
                        </div>
                        {% else %}
                        <div class="status-type submitted">
                            SUBMITTED
                        </div>
                        {% endif %}
                    </div>
                    <div class="userfiles" id="user-files">
                        {% if assignment.checkSubmitted(client.ID) == "Not Summited" %}
                        {% else %}
                            {% for file in assignment.submitted_work[ID]["work"] %}
                            <div class="file">
                                <p>{{ file.split('/') | last }}</p>
                                <a href="/{{ file }}" target="_blank" class="remove-file">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                            </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <form action="/uploadFile/{{course_index}}/{{ assignment.id }}" method="post" enctype="multipart/form-data">
                        <input type="file" name="assignmentFiles" id="assignment-files" style="display: none;" multiple>
                        {% if assignment.checkSubmitted(client.ID) == "Not Summited" %}
                        <input type="submit" class="input submit" value="SUBMIT">
                        <input type="submit" class="input choose-file" value="CHOOSE FILES" id="choose-file">
                        {% else %}
                        <a class="status-type not-submitted" href="/unsubmit/{{course_index}}/{{ assignment.id }}">
                            UNSUBMIT WORK
                        </a>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        const AssignmentFiles = document.getElementById("assignment-files");
        const ChooseFile = document.getElementById("choose-file");
        ChooseFile.addEventListener("click", (e) => {
            e.preventDefault();
            AssignmentFiles.click();
        });

        AssignmentFiles.addEventListener("change", (e) => {
            const UserFiles = document.getElementById("user-files");
            const Files = AssignmentFiles.files;
            UserFiles.innerHTML = ""
            for (let i = 0; i < Files.length; i++) {
                const File = Files[i];
                console.log(File);

                UserFiles.innerHTML += `<div class="file">
                            <a href="">${File.name}</a>
                        </div>`;
            }
        });
    </script>
</body>

</html>