<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'head.html' %}
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/profile.css">
    <script src="/js/profile.js" defer></script>
</head>

<body>
    {% include 'nav.html'%}

    <div class="content">
        <div class="profile">
            <h2>Profiles</h2>
            <form action="/profile" method="POST" enctype="multipart/form-data" id="profile">
                <!-- Existing form fields -->
                <div class="profile-container">
                    <div class="left-content">
                        <label for="name">NAME</label>
                        <input type="text" id="name" name="name" value="{{ client.name }}" required>

                        <label for="user_name">USERNAME</label>
                        <input type="text" id="user_name" name="user_name" value="{{ client.user_name }}" required>
                    </div>
                    <!-- New profile picture upload field -->
                    <div class="left-content">
                        <img id="profile-pic" src="{{ client.avatar }}" alt="">
                        <input type="file" id="choose-image" name="avatar" accept="image/*">
                    </div>
                </div>
                <input type="submit" value="Save Changes">
            </form>
        </div>
    </div>
</body>

</html>