<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/classes.css">
    <script src="/js/header.js" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>

<body>
    <nav>
        <div class="nav" id="navbar">
            <a href="/" class="nav-left">
                <img class="nav-logo" src="/images/SE_logo_tranparent.svg" alt="">
                <div class="nav-text">
                    <div class="nav-title">SOFTWARE ENGINEERING</div>
                    <div class="nav-title-small">King Mongkut's Institute of Technology Ladkrabang</div>
                </div>
            </a>
            <div class="nav-right" id="navRight">
                <div class="wrap-darkmode">
                    <div class="nav-move">
                        <input type="checkbox" id="darkmode-toggle">
                        <label for="darkmode-toggle" id="label-darkmode">
                            <i class="fa-solid fa-moon fa-xl"></i>
                            <i class="fa-solid fa-sun fa-xl"></i>
                        </label>
                        {% if client != None %}
                        <a href="/classes/0/assignments">Classes</a>
                        {% endif %} 
                        <a href="">About</a>
                        <a href="">Program</a>
                        <a href="">Admission</a>
                        <a href="">Research</a>
                        <a href="">Industry</a>
                        <a href="">News</a>
                        <a href="">Event</a>
                        <a href="">EN</a>
                    </div>
                </div>
                <a href="javascript:void(0);" class="bars" onclick="changeToResponsive()"><i
                        class="fa-solid fa-bars fa-2xl"></i></a>
                <a href="/login"><img id="login" src=" {{ client.avatar }}" alt=""></a>
            </div>
        </div>
        <div class="nav-bottom" style="display: none;">
            <div class="nav-move" style="display: none;">
                <div class="wrap-darkmode">
                    <input type="checkbox" id="darkmode-toggle">
                    <label for="darkmode-toggle" id="label-darkmode">
                        <i class="fa-solid fa-moon fa-xl"></i>
                        <i class="fa-solid fa-sun fa-xl"></i>
                    </label>
                </div>
                <a href="">About</a>
                <a href="">Program</a>
                <a href="">Admission</a>
                <a href="">Research</a>
                <a href="">Industry</a>
                <a href="">News</a>
                <a href="">Event</a>
                <a href="">EN</a>
            </div>
        </div>
        <div class="accent-bar" id="accent-bar"></div>
    </nav>

    <div class="spacer" id="spacer"></div>

    

    <div class="content">
        <div class="side-bar">
            <label>Courses</label>
            <div class="course-container">
                {% if client_type == "Student" %}
                {% for enroll in client.enrolls %}
                <div class="course">
                    <label>{{enroll.course.name}}</label>
                    <div class="dropdown-content">
                        <div class="course-content">Anouncements</div>
                        <a href="/classes/{{ enroll.course.course_id }}/rooms">
                            <div class="course-content">Rooms</div>
                        </a>
                        <a href="/classes/{{ loop.index - 1 }}/assignments">
                            <div class="course-content">Assignments</div>
                        </a>
                    </div>
                </div>
                {% endfor %}
                {% elif client_type == "Lecturer" %}
                {% for course in client.courses %}
                <div class="course">
                    <label>{{course.name}}</label>
                    <div class="dropdown-content">
                        <div class="course-content">Announcements</div>
                        <a href="/classes/{{ course.course_id }}/rooms">
                            <div class="course-content">Rooms</div>
                        </a>
                        <a href="/classes/{{ loop.index - 1 }}/assignments">
                            <div class="course-content">Assignments</div>
                        </a>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div>No enrolled courses.</div>
                {% endif %}
            </div>
        </div>
        <div class="right-content">
            <div class="banner"></div>
            <div class="title">
                {{ course.name }} - Rooms available
                {% if client_type == "Lecturer" %}
                <a href="/room/add/page/{{course.course_id}}" class="add-assignment">
                    ADD NEW ROOM <i class="fa-solid fa-plus"></i>
                </a>
                {% endif %}
            </div>
            <div class="wrap-assignment">
                <div class="room-ctn">
                    <div class="rooms-title">
                        <p>ROOM NUMBER</p>
                        <p>ROOM TITLE</p>
                        <p>OPTIONS</p>
                    </div>
                    <div class="horizontal-line"></div>
                    {% for room in course.rooms %}
                    <div class="room">
                        <p>{{ room.id }}</p>
                        <p>{{ room.title }}</p>
                        <div class="room-options">
                            <a href="https://se-online.kasitphoom.com/{{ room.id }}">
                                <i class="fa-solid fa-right-to-bracket"></i>
                                <p>JOIN</p>
                            </a>
                            {% if client_type == "Lecturer" %}
                            <a href="/room/edit/page/{{ room.id }}">
                                <i class="fa-solid fa-pencil"></i>
                                <p>EDIT</p>
                            </a>
                            <a href="/room/delete/{{course.course_id}}/{{ room.id }}">
                                <i class="fa-solid fa-trash"></i>
                                <p>DELETE</p>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>

</html>