<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'head.html' %}
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/classes.css">
</head>

<body>
    {% include 'nav.html'%}

    <div class="content">
        
        {% include 'sidebar.html'%}

        <div class="right-content">
            <div class="banner">
                <img src="{{ course.banner }}" alt="">
            </div>
            <div class="title">
                {{ course.name }} - Rooms available
                {% if client_type == "Lecturer" %}
                <a href="/room/add/page/{{course.course_id}}" class="add-assignment">
                    ADD NEW ROOM <i class="fa-solid fa-plus"></i>
                </a>
                {% endif %}
            </div>
            <div class="wrap-assignment">
                <div class="room-ctn">
                    <div class="rooms-title">
                        <p>ROOM NUMBER</p>
                        <p>ROOM TITLE</p>
                        <p>OPTIONS</p>
                    </div>
                    <div class="horizontal-line"></div>
                    {% for room in course.rooms %}
                    <div class="room">
                        <p>{{ room.id }}</p>
                        <p>{{ room.title }}</p>
                        <div class="room-options">
                            <a href="https://se-online.kasitphoom.com/select-device/{{ room.id }}">
                                <i class="fa-solid fa-right-to-bracket"></i>
                                <p>JOIN</p>
                            </a>
                            {% if client_type == "Lecturer" %}
                            <a href="/room/edit/page/{{ room.id }}">
                                <i class="fa-solid fa-pencil"></i>
                                <p>EDIT</p>
                            </a>
                            <a href="/room/delete/{{course.course_id}}/{{ room.id }}">
                                <i class="fa-solid fa-trash"></i>
                                <p>DELETE</p>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>

</html>