<div class="side-bar">
    <label>Courses</label>
    <div class="course-container">
        {% if client_type == "Student" %}
        {% for enroll in client.enrolls %}
        <div class="course">
            <label>{{enroll.course.name}}</label>
            <div class="dropdown-content">
                <div class="course-content">Anouncements</div>
                <a href="/classes/{{ enroll.course.course_id }}/rooms">
                    <div class="course-content">Rooms</div>
                </a>
                <a href="/classes/{{ loop.index - 1 }}/assignments">
                    <div class="course-content">Assignments</div>
                </a>
            </div>
        </div>
        {% endfor %}
        {% elif client_type == "Lecturer" %}
        {% for course in client.courses %}
        <div class="course">
            <label>{{course.name}}</label>
            <div class="dropdown-content">
                <div class="course-content">Announcements</div>
                <a href="/classes/{{ course.course_id }}/rooms">
                    <div class="course-content">Rooms</div>
                </a>
                <a href="/classes/{{ loop.index - 1 }}/assignments">
                    <div class="course-content">Assignments</div>
                </a>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div>No enrolled courses.</div>
        {% endif %}
    </div>
</div>